body{
    margin: 0;
    padding: 0;
    /*background: url(bg.jpg) no-repeat;*/
    background-size: cover;
    background: rgb(143,0,7);
    background: linear-gradient(90deg, rgba(143,0,7,1) 0%, rgba(36,0,13,1) 33%, rgba(36,0,13,1) 66%, rgba(143,0,7,1) 100%);
  }
  .box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }

  ol{
    margin: 0;
    padding: 0;
  }

  .box ol li{
    margin: 6px;
    list-style: square;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    text-align: justify;

  }

  ul{
    margin: 0;
    padding: 0;
  }
  .box ul li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box ul li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }
  